@charset "utf-8";
/*reset*/
body {
    color: #222;
    background-color: #eeeeee;
    font-family: "微软雅黑" !important;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background-color: #dde8f3;
}
.glyphicon-triangle-top {
    top: -2px;
    left: 2px;
    font-size: 12px;
}
.glyphicon-triangle-bottom {
    top: 6px;
    left: -14px;
    font-size: 12px;
    color: #dcedff;
}
.carousel-indicators li {
    width: 7px;
    height: 7px;
}
.carousel-indicators .active {
    width: 8px;
    height: 8px;
}
.pagination>li>a, .pagination>li>span {
    padding: 3px 12px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    background-color: #efefef;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: inline-block;
}
.form-group {
    margin-bottom: 6px !important;
}
.form-group label {
    font-weight: normal;
}
.btn-success {
    color:#fff;
    background-color: #0C7ED9;
    border-color: #0C7ED9;
}
.btn-success:hover{
    color:#fff;
    background-color: #10A4E4;
    border-color: #10A4E4;
}
/* .btn-success:hover {
    background-color: #62c240;
    border-color: #62c240;
} */
.btn-success.focus, .btn-success:focus, .btn-success:active,
.btn-success.active,.btn-success:active:focus,
.btn-success.active:focus {
    color:#fff !important;
    background-color: #0C7ED9 !important;
    border-color: #0C7ED9 !important;
    box-shadow: none !important;
}
.btn-primary {
    background-color: #0C7ED9;
    border-color: #0C7ED9;
}
.btn-primary:hover {
    background-color: #10A4E4;
    border-color: #10A4E4;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:active,
.btn-primary.active,.btn-primary:active:focus,
.btn-primary.active:focus {
    background-color: #10A4E4;
    border-color: #10A4E4;
}
.btn-block, .btn-default {
    background-color: white;
    border-color: #0C7ED9;
    color: #0C7ED9;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    background-color: white !important;
}
.btn-block:hover, btn-default:hover {
    background-color: white !important;
    border-color: #0C7ED9;
    color: #0C7ED9;
}
.btn-block.focus, .btn-block:focus, .btn-block:active,
.btn-block.active,.btn-block:active:focus,
.btn-block.active:focus, .btn-default.focus, .btn-default:focus, .btn-default:active,
.btn-default.active,.btn-default:active:focus,
.btn-default.active:focus {
    background-color: white;
    border-color: #205987 ;
    box-shadow: none;
    color: #205987;
}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    margin-left: 0;
    margin-right: 10px;
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
    display: inline;
    width: inherit;
}
.ui-pg-table {
    border: 0 !important;
}
.rater-star li[class*="item-"] {
    border: none;
    border-left-width: 0;
}
table thead {
    background-color: #0C7ED9!important;
    color: white !important;
}
.table-condensed thead {
    background-color: white !important;
    color: #222 !important;
}
.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr ,.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    background-color: #0C7ED9!important;
}
.ui-jqgrid .ui-jqgrid-htable th div {
    height: 45px;
    line-height: 45px;
    padding-top: 0;
    padding-bottom: 0;
}
.ui-jqgrid .ui-jqgrid-pager {
    background-color: white !important;
    border-bottom: none !important;
    border-top: none !important;
}
.ui-jqgrid-sortable, .ui-jqgrid-sortable:hover {
    color: white;
}
.ui-separator {
    display: none !important;
}
.ui-jqgrid .ui-pg-table td {
    white-space: nowrap;
}
.ui-pg-table .ui-pg-table {
    float: right;
}
.ui-pg-table .ui-pg-table td span , #sp_1_formList_jqGrid_pager {
    border:1px solid #ccc !important;
    padding: 0px 10px !important;
    height: 30px !important;
    line-height: 25px !important;
    border-radius: 4px !important;
    display: inline-block !important;
}
.ui-jqgrid .ui-pg-table td .ui-separator {
    display: none !important;
}
.ui-jqgrid tr.ui-row-ltr td {
    color: #666;
    text-overflow: ellipsis;
}
.ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td {
    border-bottom: 0;
}
.ui-jqgrid tr.ui-row-ltr:last-of-type {
    border-bottom: 1px solid #ccc;
}
#sp_1_formList_jqGrid_pager {
    margin-top: 2px;
    width: 38px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.ui-pg-input {
    border-radius: 4px;
    border-width: 1px;
    border: 1px solid #ccc;
    height: 26px !important;
    display: inline-block;
    margin-top: 2px !important;
}
.ui-paging-info {
    width: 160px;
}
.modal .ui-paging-info {
    display: none;
}
.ui-jqgrid .ui-pg-selbox {
    height: 30px;
    border-radius: 4px;
}
.ui-state-disabled span {
    background-color: #efefef !important;
}
.ui-jqgrid .ui-jqgrid-pager {
    height: 100px;
}
.glyphicon-backward:before {
    content: "首页";
}
.glyphicon-chevron-left:before {
    content: "上一页";
}
.glyphicon-chevron-right:before {
    content: "下一页";
}
.glyphicon-forward:before {
    content: "末页";
}
#formList_jqGrid_table_rn {
    border-top-left-radius:5px !important;
}
#formList_jqGrid_table_action {
    border-top-right-radius: 5px !important;
    text-align: center  !important;
}
.ui-jqgrid tr.ui-row-ltr td:first-child {
    border-left: 1px solid #ccc !important;
}
.ui-jqgrid tr.ui-row-ltr td:first-child span{
    padding-top: 6px !important;
}
.ui-jqgrid tr.ui-row-ltr td:last-child {
    border-right: 1px solid #ccc !important;
}
.ui-jqgrid-htable input{
    margin-top: 6px;
}
.checkbox-inline, .radio-inline {
    padding-left: 0;
}
.modal-content {
    border-radius: 0;
}
.modal-content .modal-header {
    background: #0C7ED9;
    color: white;
}
.modal-content .modal-footer {
    text-align: center;
    border-top: 0;
    margin-top: -20px;
    margin-bottom: 20px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}
.form-horizontal .col-sm-2 {
    text-align: right;
}
textarea {
    resize: none;
}
.zhuChart .highcharts-color-5 {
    fill: #01a65a !important;
}
tspan {
    stroke-width:  0px !important;
    font-weight: inherit !important;
}
.highcharts-data-label text {
    fill: #222 !important;
    font-weight: inherit !important;
}
.highcharts-data-label {
    font-weight: inherit !important;
}
.zhuChart .highcharts-color-1 {
    fill: #dad6e5;
}
#formList_jqGrid_pager_right {
    width: 160px !important;
}
/*font*/
.red {
    color: red;
}
.gray-color {
    color: #808080;
}

/*background*/
.white-bg {
    background-color: white;
}
/*header*/
.header {
    background-color: #1b5cac;
    height: 120px;
    color: white;
    margin-bottom: 10px;
}
.header ul {
    list-style: none;
    -webkit-padding-start: 0;
    font-size: 16px;
    margin-bottom: 0;
}
.header ul li a {
    padding: 30px 20px 36px 20px;
    cursor: pointer;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.header ul li.active{
    background-color: #10a4e4 !important;
}
.header .logo {
    margin-top: 18px;
    width: 60px;
}
.header .logout {
    display: inline-block;
    float: right;
    margin-top: 40px;
}
.header .logout .person-info  {
    border-right: 1px solid white;
    padding-right: 15px;
    display: inline-block;
    margin-right: 15px;
}
.header .logout a{
    color: #adc3dc;
}
/* footer */
/*.footer {
    background-color: #1b5cac;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 24px;
    color: white;
}*/
.footer span {
    color: white;
    display: inline-block;
}
.footer .copyright {
    font-size: 20px;
    margin-left: 30px;
}
.footer .footer_info {
    color: #a7acb3;
    margin-left: 50px;
    margin-top: 10px;
}
.footer .footer_info:first-child {
    margin-left: 0px;
}
.footer .footer_info img {
    vertical-align: bottom;
    margin-right: 6px;
}
.footer .new_media img {
    margin-left: 20px;
}
.footer .main_content > .col-lg-12 {
    margin-bottom: 15px;
}
/*content*/
.main {
    width: 1200px;
    margin: auto;
}
.content {
    margin-top: 0px;
    min-height: calc(100vh - 284px);
}

.ready_only_input {
    border:none;
}
.no-padding-left {
    padding-left: 0;

}
.no-padding-right {
    padding-right: 0;
}
.text-indent {
    text-indent: 2em;
}
.gray-color {
    color: #808080 !important;
}
.input_label {
    text-align: left !important;
    margin-top: 18px;
    margin-left: 9%;
}
.font-weight {
    font-weight: bold;
}
.radio_div {
    padding-left: 8.5%;
}
.text-right {
    text-align: right;
}
.common_input {
    width: 60%;
    position: relative;
}
.no-border {
    border: 0 !important;
}
.content .list {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.star_span {
    float: left;
    font-size: 12px;
    margin-top: 10px;
    line-height: 0;
}
.star_span i {
    font-size: 14px;
    margin-top: -9px;
}
.content .bread {
    margin-top: 10px;
    margin-bottom: 14px;
}
.content .bread .active {
}

/*myAffairs*/
.content .list .tab_title {
    cursor: pointer;
    font-size: 15px;
    padding: 15px 0px;
    display: inline-block;
    margin-right: 30px;
}
.content .list .tab_title:hover {
    color: #0C7ED9;
}
.content .list .tab_title.active{
    color: #0C7ED9;
    border-bottom: 2px solid #0C7ED9;
    font-weight: bold;
}
.content .list .tab_title hover {
    color: #0C7ED9;
}
.content .list .list_title {
    border-bottom: 1px solid #cccccc;
    float: left;
    width: 100%;
}
.content .list .list_title .search_span {
    position: relative;
    float: right;
    margin-top: 10px;
}
.content .list .list_title .search_span input {
    margin-right: 40px;
}
.content .list .list_title .search_span .glyphicon-search {
    width: 33px;
    height: 33px;
    float: right;
    position: absolute;
    right: 0;
    border-left: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
}

.content .list .list_title .sc_card {
    color: #0C7ED9;
    margin-left: 24px;
    margin-top: 19px;
    cursor: pointer;
}
.content .list .list_content .table>thead>tr>th {
    border-bottom: 0;
}
.content .list .list_content .table>thead {
    background-color: #0C7ED9;
    color: white;
}
.content .list .list_content .table>thead>tr>th:first-child {
    border-top-left-radius: 5px;
}
.content .list .list_content .table>thead>tr>th:last-child {
    border-top-right-radius: 5px;
}
.content .list .list_content .daiban {
    color: #ff952b;
}
.content .list .list_content .jxz {
    color: #63d0d0;
}
.content .cz {
    cursor: pointer;
    border: 1px solid #0C7ED9;
    color: #0C7ED9;
    display: inline-block;
    padding: 2px 12px;
    margin-right: 10px;
    border-radius: 3px;
}
.content .list .list_content .table>tbody>tr>td, .content .list .list_content .table>tbody>tr>th, .content .list .list_content .table>tfoot>tr>td, .content .list .list_content .table>tfoot>tr>th, .content .list .list_content .table>thead>tr>td,.content .list .list_content .table>thead>tr>th {
    padding: 12px;
}
.content .list .list_content .pagination>li>a,.content .list .list_content .pagination>li>span {
    color: #7e7e7e;
}
.content .list .list_content .current a {
    color:  #0C7ED9 !important;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
    float: right;
    margin-right: 20px;
    margin-top: 0;
}
.content .list .list_content .select_span {
    display: inline-block;
    text-align: center;
    position: relative;
}
.content .list .list_content .select_span .pageSize {
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 46px;
    display: inline-block;
    color: #0C7ED9;
    height: 26px;
    vertical-align: middle;
    padding-top: 2px;
}
.content .list .list_content .select_span .option_span {
    display: inline-block;
    display: none;
    position: absolute;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 5px 10px 1px #bfbfbf;
    line-height: 26px;
    background-color: white;
}
.content .list .list_content .select_span .option_span span {
    display: inline-block;
    width: 100%;
}

.content .list .list_content .select_span .option_span span:hover {
    background-color: #dde8f3;
}
.content .list_content-1 {
    display: none;
}
#carousel-example-generic {
    height: 248px;
}
.content .total_size {
    margin-top: 20px;
    margin-bottom: 15px;
}
.content .col-xs-6 .pagination {
    margin: 16px 0;
}
.content .col-sm-6 .pagination {
    margin-bottom: 0;
}
.content .activity ul {
    list-style: none;
    -webkit-padding-start: 0px;
}
.content .activity ul li {
    position: relative;
    float: left;
    border-bottom: 4px solid #e6e6e6;
    line-height: 0;
    width: 18.5%;
    text-align: left;
}
.content .activity ul li:first-child .point_span {
    left: -12px;
}
.content .activity ul li .point_span {
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 100%;
    background-color: #cecece;
    color: white;
    text-align: center;
    top: -8px;
    line-height: 20px;
}
.content .activity ul li:first-child .activity-title{
    position: absolute;
    left: -16px;
}
.content .activity ul li:last-child .activity-title {
    white-space: nowrap;
    left: -4px !important;
}
.content .activity ul li.unpassend .activity-title {
    left: -11px !important;
}
.content .activity ul li:last-child.complete .activity-title {
    top: 40px;
}
.content .activity ul li:last-child.complete .activity-time {
    left: -40px;
}
.content .activity ul li.unpass {
    border-color: red;
}
.content .activity ul li.unpass .point_span {
    background-color: red;
}
.content .activity ul li.unpassend .point_span {
    background: white;
    border: 2px solid red;
}
.content .activity ul .unpassend .point_span .pause{
    display: inline-block;
    width: 7px;
    height: 7px;
    background: red;
    margin-top: 5px;
}
.content .activity ul li.unpass .point_span{
    font-size: 24px;
    line-height: 7px;
    height: 30px;
    width: 30px;
    top: -14px;
    padding-top: 9px;
    left: -6px;
}
.content .activity ul li.unpass .activity-title {
    top: -26px;
}
.content .activity ul li.unpass .activity-title, .content .activity ul li.unpass .activity-zt,.content .activity ul li.unpassend .activity-title {
    color: red;
}
.content .activity ul li  .activity-title{
    position: absolute;
    display: inline-block;
    left: -38px;
    top: -22px;
}
.content .activity ul li .activity-time {
    width: 100%;
    display: inline-block;
    left: -19%;
    position: absolute;
    bottom: -24px;
    white-space: nowrap;
    font-size: 12px;
}
.content .activity ul li:first-child{
    text-align: left;
}
.content .activity ul li:last-child{
    text-align: right;
    width: 0;

}
.content .activity .activity-lc {
    padding-left: 70px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    color: #808080;
}
.content  h4 {
    border-left: 3px solid #0C7ED9;
    margin-top: 0;
    padding-top: 20px;
    color: #333;
    padding-left: 10px;
}
.content .action_div {
    border-left: 1px dashed #ccc;
    background: #fbfbfb;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 45px;
}
.content .action_div button {
    width: 100%;
    margin-bottom: 10px;
}
.content .activity-lc .complete {
    border-color: #0C7ED9;
}
.content .activity-lc .complete .point_span {
    background-color: #0C7ED9;
}
.content .activity-lc .complete .activity-title{
    color: #0C7ED9;
}
.content .activity-lc .underway {
    border-bottom: 3px dotted #0C7ED9;
}
.content .activity-lc .underway .point_span {
    background-color: #0C7ED9;
    font-size: 32px;
    line-height: 7px;
    height: 30px;
    width: 30px;
    top: -14px;
}
.content .activity-lc .unpassend .return_span {
    background-color: red !important;
}
.content .activity-lc .unpassend .return_span img {
    margin-bottom: 6px !important;
}

.content .activity-lc .underway .point_span span{
    display: inline-block;
    height: 13px;
    width: 13px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}
.content .activity-lc .many_activity {
    border-bottom: 3px dotted #0C7ED9;
}
.content .activity-lc .underway .activity-dsh {
    display: inline-block;
    width: 100%;
    position: absolute;
    color: #0C7ED9;
    bottom: -26px;
    left: -8px;
}
.content .activity-lc .underway .activity-title{
    color: #0C7ED9;
    top: -24px;
}
.content .activity-lc .activity-zt {
    display: inline-block;
    position: absolute;
    bottom: -40px;
    left: -12px;
    color: #0C7ED9;
}
.content .readonly_div {
    margin-left: -60px;
}
.content .readonly_div {
    color: #808080;
}
.content .readonly_div .col-sm-11 {
    width: 98%;
}
.content .left_div {
    padding-bottom: 30px;
}
.content .sh_info {
    border: 1px solid #ccc;
    padding: 20px;
    vertical-align: middle;
    background-color: #f6f6f6;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: #808080;
    width: 100%;
}
.content .sh_info.sh_info_xq {
    background-color: #fbfbee;
}
.content .sp_tg_div {
    padding-top: 71px;
}
.content .sp_tg_div .sp_tg {
    display: inline-block;
    border-left: 1px dashed #ccc;
    height: 52px;
    margin-left: 46px;
}
.current_tg {
    height: 128px;
}
.content .shed {
    font-size: 18px;
    display: inline-block;
    margin-top: -3px;
}
.sp_form .form-group {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 15px !important;
}
.no-margin-bm {
    margin-bottom: 6px !important;
}
.content .sp_form .form-group button {
    margin-bottom: 0;
}
.content ul.undo li:first-child .activity-title {
    left: -33px !important;
}
.content .activity ul.undo li:last-child .activity-title {
    left: -22px;
    top: -20px;
}
.DpModal .modal-dialog {
    width: 520px;
    margin: 30px auto;
}
.content .pf_star {
    color: #f7c142;
    font-size: 16px;
}
.content .collection_table img {
    margin-right: 10px;
}
.content .detail_left_div {
    border-right: 10px solid #eeeeee;
    padding: 40px;
    margin-bottom: 20px;
}
.content .detail_left_div .status {
    margin-bottom: 30px;
}
.content .detail_left_div .status h5 {
    font-size: 16px;
}
.content .detail_left_div .detail_content .form-group {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 15px !important;
    padding-bottom: 8px;
}
.content .detail_left_div .miaoshu {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}
.content .detail_left_div .btn-orange {
    width: 100%;
    background-color: #0C7ED9;
    color: white;
}
.content .detail_left_div .miaoshu p:first-child {
    margin-bottom: 0;
}
.content .detail_left_div .bg_suggestion {
    margin-top: 20px;
}
.content .detail_left_div .bg_suggestion textarea {
    width: 100%;
    background-color: #eeeeee;
    border: none;
    margin-bottom: 10px;
}
.content .sc_span {
    height: 36px;
    display: inline-block;
    border: 1px solid #dcdcdc;
    line-height: 36px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.content .sc_span i {
    margin-right: 6px;
}
.content .title_line {
    text-align: right;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.content .detail_right_div {
    padding: 40px;
}
.content .detail_right_div h3 {
    font-weight: bold;
}
.content .detail_right_div .title_line {
    text-align: right;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.content .detail_liuc_title {
    border-left: 8px solid #1956a6;
    padding-left: 8px;
    color: #1956a6;
}
.content .detail_liuc .detail_liuc_content {
    height: 80px;
    line-height: 80px;
    margin-left: 30px;
}

/*index*/
.index-content {
    margin-bottom: 20px;
    min-height: calc(100vh - 304px);
}
.index-content .face-div {
    background-color: #5686ce;
    color: white;
    text-align: center;
    box-sizing: border-box;
    height: 264px;
    padding-top: 54px;
}
.index-content .face-div .face-picture {
    border-radius: 100%;
    margin-bottom: 10px;
    border: 2px solid white;
}
.index-content  ul {
    -webkit-padding-start: 0;
}
.index-content .person_info ul {
    margin: 0px;
    padding: 0px;
}
.index-content .person_info ul li {
    cursor: pointer;
    list-style: none;
    float: left;
    text-align: center;
    width: 20%;
    border-right: 1px solid #ccc;
    margin-top: 74px;
    margin-bottom: 68px;
}
.index-content .person_info ul li h4 {
    color: #0C7ED9;
}
.index-content .person_info ul li a {
    color: #666 !important;
    text-decoration: none !important;
}
.index-content .person_info ul li h4 {
    font-size: 30px;
}
.index-content .person_info ul li:last-child {
    border-right: 0;
}
.index-content .person_info ul li p {
    font-size: 15px;
    margin-top: 8px;
}
.index-content .right {
    position: absolute;
    right: 0;
    top: 44%;
}
.index-content .left {
    position: absolute;
    left: 0;
    top: 44%;
}
.index-content .carousel-indicators {
    bottom: -12px;
}
.index-content .carousel-indicators li {
    border: 1px solid #9c9c9c;
}
.index-content .carousel-indicators .active {
    background-color: #7a7a7a;
}
.index-content .margin-tp-10 {
    margin-top: 10px;
}
.index-content .pie_title {
    margin-bottom: -20px;
    margin-top: 20px;
    color: #666;
}
.index-content .hqtx {
    margin-top: 42px;
}
.index-content .border-rt-10 {
    border-right: 10px solid #eeeeee;
}
.index-content .three_content .col-lg-4 {
    padding: 0;
    height: 380px;
}
.index-content .three_content .fen_ye {
    cursor: pointer;
    float: right;
    color: #808080;
}
.index-content .three_content .fen_ye .disabled {
    cursor: default;
}
.index-content .three_content .fen_ye {
    width: 10px !important;
}
.index-content .three_content .fen_ye:last-child {
    margin-right: 12px;
}
.index-content .three_content  h4 {
    border-bottom: 1px dashed #ccc;
    padding: 10px 30px 14px 30px;
    height: 48px;
}
.index-content .three_content h4 img {
    width: 30px;
}
.index-content .star {
    display: inline-block;
    margin-top: -2px;
}
.index-content .three_content_div {
    padding: 10px 30px;
    float: left;
}
.index-content .three_content_div .number {
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    background: #c9c9c9;
    color: white;
    vertical-align: middle;
    border-radius: 2px;
    margin-right: 10px;
    line-height: 18px;
}
.index-content .three_content_div .number.no1 {
    background-color: #ff7f81;
}
.index-content .three_content_div .number.no2 {
    background-color: #f19149;
}
.index-content .three_content_div .number.no3 {
    background-color: #ffc23f;
}
.index-content .three_content_div button {
    width: 62px;
    margin-bottom: 10px;
    text-align: center;
}
.index-content .three_content_div .content_list_div {
    background-color: #eee;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #808080;
    display: none;
}
.index-content .three_content_div .content_list {
    margin-bottom: 12px;
    width: 100%;
}
.index-content .three_content_div .content_list:first-child .content_list_div {
    display: block;
}
.index-content .three_content_div .content_list p {
    cursor: pointer;
    height: 20px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.index-content .three_content_div .content_list>p {
    color: #666666;
}
.index-content .attention {
    width: 160px;
    height: 36px;
    border: 1px solid #f5b07d;
    font-size: 14px;
    color: #f5b07d;
    border-radius: 5px;
    line-height: 34px;
    text-align: center;
    position: absolute;
    top: 24px;
    left:150px;
}
.index-content .attention:before{
    content: "";
    border: 6px solid #f5b07d;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    left: -12.2px;
    top: 12px;
}

.index-content .attention:after{
    content: "";
    border: 5px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    left: -10px;
    top: 13px;
}
.index-content .fwlb_h4 {
    padding: 20px 30px 24px 30px !important;
    height: auto !important;
}
.index-content .input-group {
    width: 24%;
    float: right;
    margin-top: -8px;
}
.index-content .input-group .input-group-addon {
    background-color: #5686ce;
    color: white !important;
    cursor: pointer;
    border: none;
}
.index-content .list_all {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    cursor: pointer;
}
.index-content .all {
    display: inline-block;
    background-color: #5686ce;
    color: white !important;
    text-align: center;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
}
.index-content .left.carousel-control, .index-content .right.carousel-control {
    filter:none !important;
}
.index-content .fwlb_ul{width: 88%;}
.index-content .fwlb_ul li {
    list-style: none;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    color: #666;
}
.index-content .sort_div {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 12px;
    margin-top: 10px;
    color: #666;
}
.index-content .sort_div #totalCount, .index-content .sort_div #searchCount {
    color: #222;
}
.index-content span.pull-right {
    display: inline-block;
    padding-left:6px;
    padding-right:6px;
}
.index-content .fw_list {
    float: left;
    width: 20%;
    margin-bottom: 20px;
    padding: 10px 5px;
}
.index-content .fw_list:hover {
    cursor: pointer;
    box-shadow: 1px 4px 16px -4px #808080;
    padding: 10px 5px;
}
.index-content .fw_list img {
    margin-top: 6px;
    width: 58px !important;
}
.index-content .fw_list .col-lg-9 {
    line-height: 25px;
    padding-left: 21px;
}
.index-content .fw_list .xianxia {
    float: left;
    display: inline-block;
    background: #ccc;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
    line-height: 20px;
    margin-right: 4px;
    font-size: 12px;
}
.index-content .fw_list .xianshang {
    float: left;
    background-color: #b3daa7;
    display: inline-block;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
    line-height: 20px;
    margin-right: 4px;
    font-size: 12px;
}

.index-content .fw_list .yichu {
    float: left;
    background-color: #faa112;
    display: inline-block;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
    line-height: 20px;
    margin-right: 4px;
    font-size: 12px;
}

.glyphicon-star {
    color: #ffcc33;
}
.index-content .suoYin:first-child {
    margin-top: 8px;
    margin-bottom: 8px;
}
.index-content .suoYin {
    padding: 0 15px 5px 15px !important;
    height: 10px !important;
    float: left;
    width: 100%;
    margin-top: -8px;
    margin-bottom: 8px;
}
.index-content .fw_list .fw_list_title {
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.fix_div {
    width: 52px;
    border: 1px solid #5686ce;
    color: #5686ce;
    border-radius: 4px;
    text-align: center;
    position: fixed;
    top: 180px;
    padding: 0 6px;
    background-color: #eee;
    z-index:999;
}
.fix_div span {
    cursor: pointer;
}
.fix_div .fix_div_span {
    display: inline-block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 11px;
    padding-top: 8px;
}
.fix_div .qr_code_span {
    width: 100px;
    position: absolute;
    left: -105px;
    top: 200px;
    border: 3px solid #5686ce;
    display: none;
    height: 100px;
    border-radius: 4px;
}
.fix_div .qr_code_span:before {
    content: "";
    border: 6px solid #5686ce;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 95px;
    top: 12px;
}
.fix_div_span .zxrx_span {
    position: absolute;
    border: 3px solid #5686ce;
    display: none;
    padding: 0px 6px;
    background-color: white;
    display: inline;
    z-index: 9999;
    top: 0px;
    color: rgb(128, 128, 128);
    width: 200px !important;
    left: -206px;
    text-align: left;
    display: none;
    border-radius: 4px;
    color: #5686ce;
    line-height: 24px;
    padding: 6px 10px;
}
.fix_div_span .zxrx_span .last-child {
    margin-top: 5px;
}
.fix_div_span .zxrx_span:before {
    content: "";
    border: 6px solid #5686ce;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 196px !important;
    top: 12px;
}
.fix_div p {
    margin-bottom: -5px;
}
.fix_div .active{
    background-color: #5686ce !important;
    color: white;
    margin-left: -6px;
    width: 50px;
}
.fix_div_span a:focus, .fix_div_span a:hover {
    text-decoration: none !important;
    text-underline: none !important;
}
.fix_div .active a {
    color: white;
}
.fix_div .fix_div_span:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.personal_data_title {
    /*width: 200px;*/
}
.personal_data_title.fixed {
    position: fixed;
    top:0;
}
.personal_data_content_div {
    /*width: 1000px;*/
    /*float: right;*/
    margin-top: 0px;
}
.personal_data_title a ,.personal_item_title span{
    display: inline-block;
    width: auto;
    text-align: center;
    background-color: white;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    margin: 0 5px 6px;
    color: #0C7ED9;
}
.personal_item_title span.active{
    display: inline-block;
    background-color: #0C7ED9;
    color: white !important;
}
.personal_data_title img {
    width: 26px;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: -8px;
}
.personal_data_title .select_img, .personal_data_title .active .normal_img {
    display: none;
}
.personal_data_title .active .select_img {
    display: inline-block !important;
}
.personal_data_title a.active {
    display: inline-block;
    /*width: 100%;*/
    /*border-left: 4px solid #0C7ED9;*/
    background-color: #0C7ED9;
    color: white !important;
}
.personal_data_content {
    padding: 20px 30px;
    margin-bottom: 10px;
}
.personal_data_content.data_title form {
    margin-bottom: 0;
}
#content2 .personal_data_content .col-sm-1 {
    white-space: nowrap;
}
.personal_data_content_title {
    font-size: 17px;
    color: #222;
    margin-bottom: 20px;
}
.personal_data_content_title span {
    font-size: 14px;
    background-color: #f29047;
    color: white;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}
.personal_data_content .gray-bg{
    background-color: #f6f6f6;
    color: #808080;
}
.personal_data_content td {
    padding: 15px !important;
}
.personal_data_content td span {
    display: inline-block;
    border: 1px solid #0C7ED9;
    color: #0C7ED9;
    border-radius: 4px;
    padding: 0 3px;
    cursor: pointer;
}
#xsjc .modal-dialog, #xxjc .modal-dialog {
    width: 500px;
}
#xxjc .modal-body {
    padding-left: 50px;
    padding-right: 50px;
}
#xxjc .xxjc_span, #xsjc .xsjc_span {
    margin-bottom: 20px;
    margin-top: 10px;
}
#xxjc .modal-body .yq {
    width: 82%;
    float: right;
}
#xxjc .modal-footer {
    text-align: center;
    margin-top: 22px;
}
.tables_row {
    border-top: 15px solid #eee;
}
.search_form {
    margin-top: 30px;
}
.search_form>.form-group {
    margin-bottom: 20px !important;
}
.search_form label {
    text-align: right !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #808080;
}
.search_form select, .search_form input {
    width: 100% !important;
}
.search_form .date .form-group {
    width: 42% !important;
}
.search_form label button {
    width: 100%;
}
.search_form button {
    width: 46%;
}
.search_form.hide-div {
    display: none;
}
.data_title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    /*  margin-left: -30px;
     margin-right: -30px;
     padding-left: 30px;
     padding-right: 30px; */
}
.highcharts-title, .highcharts-credits {
    display: none !important;
}
.data_title span {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    margin-bottom: -6px;
    cursor: pointer;
    margin-right: 2%;
}
.data_title span.active{
    border-bottom: 2px solid #0C7ED9;
}
.data_title span input {
    text-align: center;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ccc;
    vertical-align: super;
}
#myTab .active {
    border: none;
}
#myTab .active>a {
    /*border: none;*/
    margin-right: 0;
    border-radius: 0;
    border-top: 2px solid #0C7ED9;
    height: 44px;
    color: #222;
}
#myTab li {
    background: #f5f2ea;
    border: 1px solid #ccc;
    border-radius: 0;
    height: 40px;
}
#myTab li:first-child {
    border-right:none;
}
#myTab li:first-child+li{
    border-left:none;
}
/*.nav-tabs>li>a{*/
/*    margin-right: 0;*/
/*}*/
.tab-content .checkbox {
    margin-top: 20px;
    margin-bottom: 40px;
}
#content1 .checkbox {
    margin-top: -4px;
}
.tab-content .checkbox label {
    margin-right: 1%;
}
.tab-content .zhuChart, #zxChart {
    margin-bottom: 70px;
}
#content3 .checkbox {
    margin-top: 5px;
}
.tab-content .pieChart {
    margin-top: 30px;
    margin-bottom: 116px;
}
.highcharts-tick {
    display: none;
}
.highcharts-container {
    margin: auto;
}
.highcharts-background {
    width: 940px !important;
}
.pieChart .highcharts-container  .highcharts-data-label text {
    fill: gray !important;
}
.highcharts-yaxis-labels:last-of-type {
    border-left: 1px solid black;
    margin-left: -10px;
}
.viewPicture ul {
    -webkit-padding-start: 0;
    text-align: center;
}
.viewPicture ul li {
    width: 145px;
    height: 145px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    list-style: none;
    position: relative;
}
.viewPicture ul li img {
    width: 145px;
    height: 145px;
}
.viewPicture_btn {
    position: absolute;
    background-color: rgba( 0, 0, 0, 0.5 );
    width: 100%;
    height: 0px;
    line-height: 34px;
    color: white;
    text-align: right;
    display: none;
}
.viewPicture_btn span {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    text-align: center;
}
.custom {
    height: 120px !important;
    width: 120px !important;
}
.confirm {
    background-color: #0C7ED9 !important;
}
.confirm:hover {
    background-color: #0C7ED9 !important;
}
.showSweetAlert h2 {
    font-size: 18px !important;
}
.addGys {
    height: 32px;
    line-height: 30px;
    border: 1px dashed #1c5cab;
    text-align: center;
    color: #1c5cab;
    cursor: pointer;
    border-radius: 4px;
}
.addInfo {
    display: inline-block;
    padding-left: 10px;
    position: relative;
}
.addInfo span {
    position: absolute;
    left: -6px;
    font-size: 21px;
    font-weight: bold;
}
.removeLi {
    position: absolute;
    top: 14px;
    right: 41%;
    cursor: pointer;
}
.fgx {
    margin-top: 30px;
}
.fgx .left-line {
    display: inline-block;
    width: 44%;
    float: left;
    border: 1px dashed #d7d7d7;
    height: 0;
    line-height: 0;
}
.fgx .font {
    float: left;
    font-size: 17px;
    display: inline-block;
    margin-top: -10px;
    margin-left: 12px;
}
.fgx .right-line {
    display: inline-block;
    width: 45%;
    float: right;
    border: 1px dashed #d7d7d7;
    height: 0;
    line-height: 0;
}
.Validform_right {
    display: none;
}
#personDialog .input_div {
    position: relative;
    margin-bottom: 12px;
}
#personDialog .input_div span {
    position: absolute;
    top: 8px;
    right: 25px;
    color: #808080;
    cursor: pointer;
}
#leftDiv, #rightDiv {
    width: 47%;
}
#turn {
    width: 6%;
    padding-top: 20%;
}
.turn-left {
    background-color: #0C7ED9;
    color: white;
}
.turn-right {
    background-color: #af1b1b;
    color: white;
    margin-top: 12px;
}
.margin--large-tp {
    margin-top: 20px;
    display: inline-block;
    margin-bottom: 10px;
    font-size:17px;
}
.line-height-normal {
    line-height: 26px;
    font-size: 15px;

}
.shortWord {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}
.uploaderDiv .validate {
    position: absolute;
    bottom: -32px;
    left: 0;
}

.sp_line {
    position: absolute;
    height: 100%;
    border-left: 1px dashed #ccc;
    right: 20%;
    top:40px;
}
.tg_info {
    z-index: 99999;
    background-color: white;
}

.line-label {
    margin-top: 45px;
    margin-bottom: 15px;
}

.font {
    float: left;
    font-size: 17px;
    display: inline-block;
    margin-top: -10px;
    width: 20%;
    text-align: center;
}

.left-line {
    display: inline-block;
    width: 40%;
    float: left;
    border: 1px dashed #d7d7d7;
    height: 0;
    line-height: 0;
}

.right-line {
    display: inline-block;
    width: 40%;
    float: right;
    border: 1px dashed #d7d7d7;
    height: 0;
    line-height: 0;
}
.main_content {
    width: 1100px;
    margin: auto;
}
.header {
    background-color: #0C7ED9;
    height: 100px;
    color: #87a4c4;
    margin-bottom: 10px;
    /*  background-image: url("../images/index/header_bg.png"); */
    background-repeat: no-repeat;
    background-position: 70%;
    position: relative;
    z-index: 999;
}
.header ul {
    list-style: none;
    -webkit-padding-start: 0;
    font-size: 16px;
    margin-bottom: 0;
}
.header ul li a {
    padding: 30px 20px 30px 20px;
    cursor: pointer;
    display: inline-block;
    color: #adc3dc;
    text-decoration: none;
}
.header ul li.active a {
    color: white;
    font-size: 26px;
}
.header .logo {
    margin-top: 25px;
    /*margin-right: 20px;*/
    width: 80px;
}
.header form {
    width: 160px;
    float: right;
    margin-top: 36px;
    margin-right: 34px;
}
.header form input {
    background-color: #16365d;
    border-color: #adc3dc !important;
    border-radius: 20px;
    height: 28px;
    line-height: 28px;
    color: white;
}
.header form .glyphicon-search {
    color: #adc3dc;
    top: -4px;
}
.header .logout {
    display: inline-block;
    float: right;
    margin-top: 40px;
}
.header .logout a{
    color: white !important;
}
/* footer */
.footer {
    /* background-color: #1b5cac; */

    background-image: url("../images/newicon/bottom.png");
    margin-top: 10px;

    color: white;
    position: relative;
    z-index: 99999;
}
.footer span {
    color: white;
    display: inline-block;
}
.footer .copyright {
    font-size: 20px;
    margin-left: 30px;
}
.footer .footer_info {
    color: #a7acb3;
    margin-left: 50px;
    margin-top: 10px;
}
.footer .footer_info:first-child {
    margin-left: 0px;
}
.footer .footer_info img {
    vertical-align: bottom;
    margin-right: 6px;
}
.footer .new_media img {
    margin-left: 20px;
}
.footer .main_content > .col-lg-12 {
    margin-bottom: 15px;
}
.help_div{
    margin-top: 18px;
}
.help_div img {
    margin-top: 10px;
}
/*media screen*/
@media (max-width: 1300px) {
    .container-fluid {
        width: 100% !important;
    }
    .main{
        width: 1003px;
    }
    .fw_list {
        width: 25% !important;
    }
    .index-content .fwlb_ul {
        width: 85% !important;
    }
    .personal_data_title {
        /*width: 180px;*/
    }
    .personal_data_content_div {
        /*width: 823px;*/
        float: left;
    }
    #zxChart {
        width: 700px !important;
    }
}
@media (max-width: 1035px) {
    .container-fluid {
        width: 1003px !important;
    }
    .main{
        width: 924px;
    }
    .fw_list {
        width: 25% !important;
    }
    .index-content .fwlb_ul {
        width: 85% !important;
    }
    .personal_data_title {
        /*width: 160px;*/
    }
    .personal_data_content_div {
        width: 764px;
        float: left;
    }
    .highcharts-background {
        width: 750px !important;
    }
    #zxChart {
        width: 630px !important;
    }
    .tab-content .zhuChart, #zxChart {
        margin-bottom: 90px !important;
    }
    .tab-content .pieChart {
        margin-bottom: 136px !important;
    }


}
th[aria-selected=true] .ui-jqgrid-sortable {
    color: #0C7ED9!important;
}
.ui-jqgrid-hbox th[aria-selected=true] .ui-jqgrid-sortable {
    color: #fff !important;
}
a {
    color: #333!important;;
    text-decoration: none!important;;
}
.btn-success.disabled.focus, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled].focus, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
    background-color: #af1b1b !important;
    border-color: #0C7ED9 !important;
}
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #af1b1b;
    border-color: #0C7ED9;
}

ul {
    list-style:none;
}
#webmenu ,.first-menu{
    height:30px;
    font-size: 16px;
    text-align:center;
    -webkit-padding-start: 0px;
}
#webmenu a {
    font-size:16px;
    color: #222;
}
#webmenu li ul {
    display:none;
}
#webmenu li ul li {
    float:none;
}
*html #webmenu li ul li {
    display:inline;
}


#webmenu li ul a {
    float:none;
    height:30px;
    line-height:30px;
    padding:0 10px;
    text-transform:capitalize;
    cursor: pointer;
}
#webmenu .height-auto {
    line-height:15px;
    padding:5px 10px;
}
.second-menu, .third-menu, .fourth-menu {
    position:absolute;
    z-index: 99999;
}
.first-menu li {
    float:left;
    position:relative;
    background-color: white;
    text-align: center;
}
.first-menu a {
    display: inline-block;
    padding:15px 20px;
    font-size:14px;
    width: 100%;
    margin: 0 !important;
}
.first-menu li a{
    padding: 0 28px;
    margin-bottom: 0 !important;
}
.first-menu li:hover a {
    background-color: #0C7ED9 !important;
    color: white !important;
}
.third-menu li:hover
.second-menu {
    top:52px;
    left:0;
}
*html .second-menu {
    right:-1px;
}
.bar_div {
    margin-bottom: 0px;
}
.bar_div img {
    width: 22px;
    padding-bottom: 5px !important;
}
.second-menu a {
    font-size:14px !important;
}
.third-menu, .fourth-menu {
    width:177px;
    top:0;
    left:97px;
}
.third-menu a {
    /* background: #f9f1e5;*/
    font-weight:normal;
    -webkit-padding-start: 0;
    font-size: 14px;
}
#subMgm, #subMgm1 {
    width:177px;
}
#subMgm .third-menu {
    left:177px;
}
#subMgm .fourth-menu {
    left:177px;
}
#subMusic, #subNews, #subMgm, #subMgm1 {
    width:100%;
    z-index: 99999;
    background-color: white;
    -webkit-padding-start: 0;
    font-size: 14px;
    color: #f6a131;
}
#subMusic li,  #subMusic li a{
    background-color: white !important;
    color: #222 !important;
}
#subMusic a:hover {
   /* background: #0C7ED9 !important;
    display: inline-block;
    border-radius: 4px;
    color:#fff !important;*/
}
.third-menu {
    left: 160px;
    background-color: #f9f1e5;
    -webkit-padding-start: 0;
    color: #f6a131;
}
#webmenu > li > a:hover {
    color: white !important;
}
#subMusic {
    box-shadow: 1px 1px 2px 1px #ccc;
    padding: 10px 0;
}
#webmenu a {
    text-decoration: none;
}
/**做html差分时候从top中拷贝出来**/
.header ul li:hover{
    background-color: #10a4e4;
}
/*#portal_nav{*/
/*    position: relative;*/
/*    !*top: 11px;*!*/
/*    left: 0%;*/
/*}*/
.header ul li a{
    color: white !important;
    font-size: 15px !important;
    padding: 10px 10px 10px 10px !important;
}
.logout a{
    font-size: 18px !important;
}
/*修改top样式*/
.hch-head{
    background-color: #2063b2 !important;
    height: 84px;
}
/*#portal_nav li:nth-child(1) {
    background-color: #0563c7 !important;
}*/
.hch-head ul li:hover {
    background-color: #0a408a !important;
}
.hch-logo{
    width: 60px;
    height: 60px!important;
    margin-top: 10px!important;
    /*padding-left: 15px;*/
    margin-left: 15px;
}

.cl:after{
    content: "";
    display: block;
    clear: both;
    height:0;
    overflow: hidden;
    visibility: hidden;
}
.cl{
    zoom: 1;
}
.hch-logout{
    width: 80px;
    height: 30px!important;
    line-height: 30px;
    border-radius: 3px;
    border:1px solid #fff;
    /*transform: skewX(-30deg)!important;*/
}
.hch-li {
    position: relative;
    height: 100%;
    display: flex!important;
    align-items: center;
    transform: skewX(0deg)!important;
}
.hch-head #portal_nav a.hch-logout{
    padding: 0!important;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 95px;
    line-height: 28px;
}
.hch-footer{
    /*height: 249px;*/
    background-image: none;
    background-color: #0a408a;
}
.hch-foot-main{
    color: #fff;
    margin: 0 15px;
    background-color: #0a408a;
}
.hch-foot-main .foot-main-top{
    padding: 15px 101px 15px 135px;
    position: relative;
}
.foot-img{
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.foot-img img{
    /*width: 135px;*/
    width: 80%;
}
.foot-wx{
    float: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.foot-wx img{
    width: 101px;
    height: 101px;
}
.nqxq{
    float: left;
    width: 50%;
    padding: 0 5%;
}
.nqxq h4,.sqxq h4{
    line-height: 42px;
    font-size: 16px;
    margin: 0;
}
.nqxq p,.sqxq p{
    line-height: 28px;
    font-size: 14px;
    margin: 0;
}
.sqxq{
    float: left;
    width: 50%;
    padding: 0 2%;
}
.foot-main-bottom{
    text-align: center;
    background-color: #002a64!important;
    line-height: 2;
    position: absolute;
    right: 0;
    left: 0;
    min-width: 1100px;
}
.hch-nav li{
    transform: skewX(30deg);
}
.hch-nav li a{
    transform: skewX(-30deg);
    height: 80px;
    display: flex!important;
    align-items: center;
    justify-content: center;

}