{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>行政区域管理</title>
</head>

<body>
<div class style="width: 100%;height: auto">
    <div class style="width: 100%;background-color: white">
        <div>
            <h1 id="titleh">各区域建档数量</h1>
        </div>
        <div >
            <div style="width: 13%">
                <img src="{% static 'images/area1.png' %}" style="width: 770%">
            </div>
        </div>
{#        表格#}
        <div align="center">
            <div style="font: 12px/1.5 Tahoma, 'Microsoft YaHei', arial, '宋体'; ">
                <div style="width: 100%">
                    <ul style="color:#fff;background-color:#307ecc;padding:20px 0;
                    background-image: unset!important; background-color: #307ecc">
                        <li style="float: left; font-weight: 700; width: 20%;list-style: none">省份</li>
                        <li style="float: left; font-weight: 700; width: 20%;list-style: none">城市</li>
                        <li style="float: left; font-weight: 700; width: 20%;list-style: none">区域经理</li>
                        <li style="float: left; font-weight: 700; width: 20%;list-style: none">业务人员</li>
                        <li style="float: left; font-weight: 700; width: 20%;list-style: none">建档数量</li>
                    </ul>
                </div>

{#                内容#}
                {% for n in number %}
                <div style="width: 100%">
                        <ul style="width: 100%;padding: 20px 0;border-bottom:1px solid #ddd;">
                            <li style="float: left; width: 20%; list-style: none;">{{ n.provinces }}</li>
                            <li style="float: left; width: 20%;list-style: none">{{ n.city }}</li>
                            <li style="float: left; width: 20%;list-style: none">{{ n.regional_manager }}</li>
                            <li style="float: left; width: 20%;list-style: none">{{ n.business_people }}</li>
                            <li style="float: left; width: 20%;list-style: none">{{ n.input_number }}</li>
                       </ul>
                </div>
                {% endfor %}

                </div>

            </div>
            <div class="pagination" style="width: 100%;" align="right">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">首页</a>
                            <a href="?page={{ page_obj.previous_page_number }}">《上一页</a>
                        {% endif %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">》下一页</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">》末页</a>
                    {% endif %}
                    <span class="current">
                        第{{ page_obj.number }} 页/共{{ page_obj.paginator.num_pages }}页
                    </span>
                    </span>
            </div>

<style type="text/css">
    a{
        text-decoration: none;
        display: inline-block;
        border: 1px solid #333333;
        font-size: 5px;
        padding: 5px;
        border-radius: 5px;
    }
    .current{
        font-size: 10px;
    }

</style>
        </div>

    </div>
</div>
</body>
</html>