#search_table table{
    width: 100% !important;
    border-collapse: collapse !important;
}

#search_table table caption{
    font-size: 2em !important;
    font-weight: bold !important;
    margin: 1em 0 !important;
}
.none{
    display:none !important;
}
#search_table th,td{
    border: 0px solid write !important;
    text-align: center !important;
    padding: 20px 0 !important;
}

#search_table table thead tr{
    background-color: #008c8c !important;
    color: #fff !important;
}

#search_table table tbody tr:nth-child(odd){
    background-color: #eee !important;
}

#search_table table tbody tr:hover{
    background-color: #ccc !important;
}

#search_table table tbody tr td:first-child{
    color: #f40 !important;
}

#search_table table tfoot tr td{
    text-align: right !important;
    padding-right: 20px !important;
}
